@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    box-sizing: border-box;
    background-image: linear-gradient(to right, #caf0f8 , #90e0ef);

}

button {
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  margin: 5px;
  min-height: 150px;
  min-width: 150px;
  display: inline-block;
  border-radius: 15px;
}

.buttons {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

button:hover {background-color: #0096c7}

button:active {
  background-color: #0096c7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
